name: Maven Deploy & Release

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write # Access to Publish a Release
      packages: write # Access to Publish a Package

    #--------------------------------------------------------------------------#
    #           Build the Artifact and Publish to Luxious Repository           #
    #--------------------------------------------------------------------------#
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    # Configure: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
      with:
        gradle-version: '9.0.0'

    - name: Extract Version from Gradle
      id: extract_version
      run: |
        gradle clean
        version=$(gradle properties -q | grep "^version:" | awk '{print $2}')
        echo "version=$version" >> $GITHUB_OUTPUT

    # Step to validate and display the version
    # We use SemVer to store if the version is a release, otherwise we won't deploy
    - name: Validate Version
      id: validate_version
      run: |
        VERSION="${{ steps.extract_version.outputs.version }}"
        echo "Version: $VERSION"

        # Regex patterns
        SEMVER_RELEASE='^[0-9]+\.[0-9]+\.[0-9]+$'
        SEMVER_PRERELEASE='^[0-9]+\.[0-9]+\.[0-9]+-(alpha|beta|rc)\.[0-9]+$'
        SEMVER_SNAPSHOT='^.+-SNAPSHOT$'

        if [[ "$VERSION" =~ $SEMVER_RELEASE ]]; then
          echo "is_valid=true" >> $GITHUB_OUTPUT
          echo "is_snapshot=false" >> $GITHUB_OUTPUT
          echo "Version is a RELEASE"
        elif [[ "$VERSION" =~ $SEMVER_PRERELEASE ]]; then
          echo "is_valid=true" >> $GITHUB_OUTPUT
          echo "is_snapshot=false" >> $GITHUB_OUTPUT
          echo "Version is a PRE-RELEASE"
        elif [[ "$VERSION" =~ $SEMVER_SNAPSHOT ]]; then
          echo "is_valid=true" >> $GITHUB_OUTPUT
          echo "is_snapshot=true" >> $GITHUB_OUTPUT
          echo "Version is a SNAPSHOT"
        else
          echo "is_valid=false" >> $GITHUB_OUTPUT
          echo "is_snapshot=false" >> $GITHUB_OUTPUT
          echo "âŒ Invalid version format, skipping deployment"
        fi

    - name: Publish with Gradle
      # Run only for valid non-snapshot versions
      if: steps.validate_version.outputs.is_valid == 'true' && steps.validate_version.outputs.is_snapshot == 'false'
      run: gradle publish
      env:
        LUXIOUS_NEXUS_USER: ${{ secrets.MAVEN_NAME }}
        LUXIOUS_NEXUS_PASS: ${{ secrets.MAVEN_SECRET }}

    #--------------------------------------------------------------------------------------------
    #           Create a Github Release
    #--------------------------------------------------------------------------------------------

    - name: Define Download URLs
      # Run only for valid non-snapshot versions
      if: steps.validate_version.outputs.is_valid == 'true' && steps.validate_version.outputs.is_snapshot == 'false'
      id: generate_url
      run: |
        VERSION="${{ steps.extract_version.outputs.version }}"
        REPO_URL="https://repo.luxiouslabs.net/repository/maven-releases/com/kamikazejam/kamicommon/"
  
        STANDALONE_UTILS_URL="$REPO_URL/standalone-utils/$VERSION/standalone-utils-$VERSION.jar"
        echo "standalone_utils_url=$STANDALONE_UTILS_URL" >> $GITHUB_OUTPUT
        
        STANDALONE_JAR_URL="$REPO_URL/standalone-jar/$VERSION/standalone-jar-$VERSION.jar"
        echo "standalone_jar_url=$STANDALONE_JAR_URL" >> $GITHUB_OUTPUT
        
        SHARED_UTILS_URL="$REPO_URL/shared-utils/$VERSION/shared-utils-$VERSION.jar"
        echo "shared_utils_url=$SHARED_UTILS_URL" >> $GITHUB_OUTPUT
        
        SHARED_JAR_URL="$REPO_URL/shared-jar/$VERSION/shared-jar-$VERSION.jar"
        echo "shared_jar_url=$SHARED_JAR_URL" >> $GITHUB_OUTPUT
        
        SPIGOT_UTILS_URL="$REPO_URL/spigot-utils/$VERSION/spigot-utils-$VERSION.jar"
        echo "spigot_utils_url=$SPIGOT_UTILS_URL" >> $GITHUB_OUTPUT
        
        SPIGOT_JAR_URL="$REPO_URL/spigot-jar/$VERSION/spigot-jar-$VERSION.jar"
        echo "spigot_jar_url=$SPIGOT_JAR_URL" >> $GITHUB_OUTPUT

    - name: Create Release (Spigot Jar + Module Jars)
      # Run only for valid non-snapshot versions
      if: steps.validate_version.outputs.is_valid == 'true' && steps.validate_version.outputs.is_snapshot == 'false'
      uses: ncipollo/release-action@v1
      with:
        # We only want to add the spigot-jar file, since that is the only fully-shaded and runnable jar
        # All other modules publish api dependencies via their publication, and are meaningless on their own
        # Those jars should be pulled with a build system, from the luxiouslabs maven repository, such that
        #  all their dependencies can be fetched as well.
        artifacts: "spigot-jar/build/libs/*.jar"
        allowUpdates: true
        removeArtifacts: true
        omitBodyDuringUpdate: true
        omitDraftDuringUpdate: true
        omitNameDuringUpdate: true
        omitPrereleaseDuringUpdate: true
        body: |
          ## KamiCommon Release ${{ needs.build-core.outputs.core_version }}
          
          ### Plugin Download
          - [KamiCommon Plugin](${{ steps.generate_url.outputs.spigot_jar_url }})
          
          ### Published Artifacts
          - [standalone-utils](${{ steps.generate_url.outputs.standalone_utils_url }})
          - [standalone-jar](${{ steps.generate_url.outputs.standalone_jar_url }})
          - [shared-utils](${{ steps.generate_url.outputs.shared_utils_url }})
          - [shared-jar](${{ steps.generate_url.outputs.shared_jar_url }})
          - [spigot-utils](${{ steps.generate_url.outputs.spigot_utils_url }})
          ```
        tag: "${{ steps.extract_version.outputs.version }}"
        name: "KamiCommon ${{ steps.extract_version.outputs.version }}"

    # Update the README.md Badge with the new version
    - name: Create Version Badge
      # Run only for valid non-snapshot versions
      if: steps.validate_version.outputs.is_valid == 'true' && steps.validate_version.outputs.is_snapshot == 'false'
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: 5dfd7c9bb8b81ae5867c81e9a77ee821
        filename: test.json # Use test.svg if you want to use the SVG mode.
        label: Latest Release
        message: "${{ steps.extract_version.outputs.version }}"
        color: blue

    - name: Update Download Link Gist
      # Run only for valid non-snapshot versions
      if: steps.validate_version.outputs.is_valid == 'true' && steps.validate_version.outputs.is_snapshot == 'false'
      env:
        GIST_ID: 5dfd7c9bb8b81ae5867c81e9a77ee821
        AUTH_KEY: ${{ secrets.GIST_SECRET }}
        VERSION: ${{ steps.extract_version.outputs.version }}
      run: |
        CONTENT="https://github.com/Jake-Moore/KamiCommon/releases/download/$VERSION/kamicommon-$VERSION.jar"
        curl -X PATCH \
          -H "Authorization: token $AUTH_KEY" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/gists/$GIST_ID \
          -d "{\"files\": {\"kamicommon.txt\": {\"content\": \"$CONTENT\"}}}"
